// Variable Overrides
// $primary: green;

// $theme-colors: (
//   'primary': red,
// );

.facebook-icon {
  color: #3b5998;
  cursor: pointer;
}
.facebook-icon:hover,
.twitter-icon:hover,
.instagram:hover {
  filter: brightness(150%);
}
.twitter-icon {
  color: #1da1f2;
  cursor: pointer;
}
.instagram-icon {
  color: #e95950;
  cursor: pointer;
}

// Bootstrap Sass Imports
@import '~bootstrap/scss/bootstrap.scss';
